html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body.compensate-for-scrollbar {
  overflow: hidden;
}

.fancybox-active {
  height: auto;
}

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  -webkit-transition-duration: inherit;
       -o-transition-duration: inherit;
          transition-duration: inherit;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
       -o-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
          transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: .9;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
       -o-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
          transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .25s ease, visibility 0s ease .25s;
  -o-transition: opacity .25s ease, visibility 0s ease .25s;
  transition: opacity .25s ease, visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  -webkit-transition: opacity .25s ease 0s, visibility 0s ease 0s;
  -o-transition: opacity .25s ease 0s, visibility 0s ease 0s;
  transition: opacity .25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 99994;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  /* Using without prefix would break IE11 */
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}

.fancybox-slide::before {
  content: '';
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-slide--html {
  padding: 6px;
}

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
          animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}

.fancybox-can-zoomOut .fancybox-content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-container [data-selectable='true'] {
  cursor: text;
}

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.fancybox-slide--video .fancybox-content {
  background: #000;
}

.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Fix iOS */
.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

/* Buttons */
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc;
}

.fancybox-button:hover {
  color: #fff;
}

.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: 1px dotted;
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

/* Fix IE11 */
.fancybox-button div {
  height: 100%;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
  display: none;
}

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
  display: none;
}

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -ms-transform-origin: 0;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  z-index: 99998;
}

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}

.fancybox-navigation .fancybox-button div {
  padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right);
}

/* Caption */
.fancybox-caption {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.85)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(65%, rgba(0, 0, 0, 0.15)), color-stop(75.5%, rgba(0, 0, 0, 0.075)), color-stop(82.85%, rgba(0, 0, 0, 0.037)), color-stop(88%, rgba(0, 0, 0, 0.019)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px 44px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

@supports (padding: max(0px)) {
  .fancybox-caption {
    padding: 75px max(44px, env(safe-area-inset-right)) max(25px, env(safe-area-inset-bottom)) max(44px, env(safe-area-inset-left));
  }
}

.fancybox-caption--separate {
  margin-top: -50px;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Loading indicator */
.fancybox-loading {
  -webkit-animation: fancybox-rotate 1s linear infinite;
          animation: fancybox-rotate 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@-webkit-keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Transition effects */
.fancybox-animated {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
       -o-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
       -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
          transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -ms-transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
          transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
          transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
          transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
          transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
          transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }
  .fancybox-slide--image {
    padding: 6px 0;
  }
  .fancybox-close-small {
    right: -6px;
  }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }
  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }
  @supports (padding: max(0px)) {
    .fancybox-caption {
      padding-left: max(12px, env(safe-area-inset-left));
      padding-right: max(12px, env(safe-area-inset-right));
    }
  }
}

/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

/* Thumbs */
.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.fancybox-thumbs__list a::before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}

.fancybox-thumbs__list a:focus::before {
  opacity: .5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
  opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  min-width: 320px;
  background-color: #16191C;
  color: #FFFFFF;
}

.container {
  max-width: 1200px;
  padding: 15px 0;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1950px;
  padding: 15px 0;
  margin: 0 auto;
}

.button {
  padding: 32px 57px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEBC59), color-stop(91.15%, #F19C5E));
  background: -o-linear-gradient(top, #FEBC59 0%, #F19C5E 91.15%);
  background: linear-gradient(180deg, #FEBC59 0%, #F19C5E 91.15%);
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 42px;
  line-height: 54px;
}

.header {
  background-image: url("../images/icon/header-bg-2.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  background-image: url("../images/icon/header-bg.svg");
  background-repeat: no-repeat;
  left: -20px;
  top: 0;
  height: 100vh;
  width: 100%;
}

.header__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 54px;
  margin-bottom: 60px;
}

.header__subtitle {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  max-width: 530px;
  margin-bottom: 83px;
}

.header__box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn-text {
  margin-left: 60px;
}

.header__btn-img {
  display: inline-block;
  margin-left: 250px;
  margin-top: -10px;
}

.header__info {
  background: -o-linear-gradient(327.39deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  background: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 10px;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.header__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 63px;
}

.header__instagram-img {
  margin-right: 65px;
}

.header__info-phone {
  padding-right: 57px;
}

.header__info-email {
  padding-right: 57px;
  margin-left: 70px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 57px 0 100px;
}

.works__items-title {
  font-weight: 300;
  font-size: 30px;
  line-height: 31px;
  padding-left: 38px;
  display: inline-block;
  position: relative;
}

.works__items-title::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #FBB659;
  left: 0;
  bottom: 10px;
}

.works__items-text {
  width: 426px;
  margin-top: 50px;
}

.works__box-btn {
  margin: 36px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__btn + .works__btn {
  margin-left: 30px;
}

.works__btn {
  cursor: pointer;
  padding: 24px 30px;
  background: #1C1F21;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  border: 2px solid #2d3032;
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.works__btn:hover {
  background: -o-linear-gradient(289.84deg, #FDBB59 18.04%, #F4A939 94.59%);
  background: linear-gradient(160.16deg, #FDBB59 18.04%, #F4A939 94.59%);
  color: #343434;
  border: 2px solid #FDBB59;
  border-radius: 5px;
}

.works__items-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 160px;
}

.works__items-boxtitle {
  display: block;
  padding-bottom: 20px;
}

.works__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 1200px;
      flex-basis: 1200px;
}

.works__item {
  max-width: 280px;
  margin-right: 22px;
  padding: 8px 8px 0 0;
  border: 2px solid #FBB659;
  border-radius: 10px;
  height: 351px;
}

.works__item img {
  width: 270px;
  height: 351px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.works__item-descr {
  background: -o-linear-gradient(327.39deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  background: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 0px 10px;
  max-width: 210px;
  font-size: 14px;
  line-height: 18px;
  padding: 15px;
  margin-top: -66px;
}

.top-slider {
  text-align: center;
  padding: 160px 20px;
}

.top-slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1130px;
  margin: 0 auto;
}

.top-slider__title {
  text-align: center;
  margin-bottom: 75px;
  font-weight: 500;
  font-size: 42px;
  line-height: 54px;
}

.top-slider__item {
  display: inline-block;
  padding: 14px;
  border: 2px solid #FDBB59;
  border-radius: 10px;
  height: 220px;
  max-width: 307px;
  margin: 0 auto;
}

.top-slider__item img {
  width: 300px;
  height: 213px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.top-slider__btn {
  border: none;
  background-color: rgba(252, 254, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 19px 47px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 247px;
  margin-right: auto;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.top-slider__btn:hover {
  background-color: #FDBB59;
  color: #5D5957;
  font-weight: 700;
}

.slick-arrow {
  width: 69px;
  height: 59px;
  position: absolute;
  z-index: 3;
  border: none;
  cursor: pointer;
  bottom: 1px;
}

.slick-arrow img {
  top: 50%;
  margin: 0 auto;
}

.slick-prev {
  right: 33px;
  background: #FDBB59;
  border-radius: 0px 0px 10px 0px;
  z-index: 2;
}

.slick-next {
  left: 33px;
  background: #FFFFFF;
  border-radius: 5px 0px 0px 0px;
}

.benefits {
  background-image: url("../images/benefits-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
}

.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__content-title {
  text-align: left;
  margin-bottom: 45px;
}

.benefits__content-subtitle {
  padding-top: 23px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #FDBB59;
  position: relative;
}

.benefits__content-subtitle::before {
  content: "";
  position: absolute;
  width: 267px;
  height: 2px;
  background: #FDBB59;
  top: 0;
  left: 0;
}

.benefits__content-text {
  width: 515px;
  margin-bottom: 75px;
}

.benefits__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -130px;
  padding-bottom: 90px;
}

.benefits__manager-img {
  max-width: 780px;
  height: 860px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 24px;
}

.benefits__manager-btn {
  cursor: pointer;
  padding: 25px 22px;
  border-radius: 10px;
  background: #5D5957;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border: none;
  color: #FFFFFF;
  margin-right: 77px;
}

.benefits__manager-text {
  font-size: 16px;
  line-height: 20px;
  max-width: 220px;
  margin-top: 30px;
  position: relative;
}

.benefits__manager-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
}

.benefits__manager-line {
  position: absolute;
}

.material {
  padding: 180px 0 200px;
}

.material__title {
  max-width: 862px;
  margin: 0 auto;
}

.material__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material__item-box {
  margin: 50px;
}

.material__item-img {
  border: 1px solid #FDBB59;
  border-radius: 10px;
}

.material__item-img img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners {
  padding-bottom: 200px;
}

.partners__title {
  max-width: 884px;
  margin: 0 auto 83px;
}

.partners__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__item {
  cursor: pointer;
  width: 370px;
  max-height: 510px;
  padding: 30px 30px 73px 30px;
  background: #1C1F21;
  border-radius: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin: 0 10px;
}

.partners__item:hover {
  background: -o-linear-gradient(289.84deg, #FDBB59 18.04%, #F4A939 94.59%);
  background: linear-gradient(160.16deg, #FDBB59 18.04%, #F4A939 94.59%);
  border-radius: 10px;
  color: #16191C;
}

.partners__item:hover .partners__list-item::before {
  background-color: #16191C;
}

.partners__item:hover .partners__item-title {
  color: #16191C;
}

.partners__item:hover svg g rect {
  fill: "#1C1F21";
}

.partners__item:hover svg g path {
  fill: "#FDBB59";
}

.partners__item-title {
  margin: 33px 0 39px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FDBB59;
}

.partners__list-item {
  padding-left: 23px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 22px;
  position: relative;
}

.partners__list-item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  bottom: 10px;
  left: 0;
  background-color: #fff;
}

.sheme__inner {
  margin-top: 100px;
  background-image: url("../images/icon/sheme-bg.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.sheme__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sheme__stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sheme__box {
  background: -o-linear-gradient(327.39deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  background: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  padding: 73px 31px;
  border-radius: 10px;
  width: 370px;
  text-align: center;
}

.sheme__box-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 24px;
}

.sheme__box-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.sheme__wrapper {
  padding: 34px 48px;
  border: 1px solid #2d3032;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.sheme__block {
  padding: 50px 40px;
  background: -o-linear-gradient(289.84deg, #FDBB59 18.04%, #F4A939 94.59%);
  background: linear-gradient(160.16deg, #FDBB59 18.04%, #F4A939 94.59%);
  border-radius: 10px;
  margin: 0 25px;
}

.sheme__block-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1C1F21;
  margin-bottom: 25px;
}

.sheme__block-text {
  max-width: 182px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1C1F21;
}

.stage-first {
  padding-bottom: 70px;
}

.stage-second {
  margin-bottom: 75px;
}

.sheme__box-third {
  margin-left: 50px;
  margin-right: 350px;
}

.sheme__wrapper-first {
  margin-left: 70px;
}

.sheme__box-second {
  margin-left: 100px;
}

.footer {
  margin-top: 215px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__contact {
  margin: 0 90px 0 130px;
}

.footer__contact-title,
.footer .footer__about-title {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 56px;
}

.footer__contact-item,
.footer .footer__about-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: block;
  margin-bottom: 38px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom-text {
  display: block;
}

.footer__bottom-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  text-align: center;
  color: #FDBB59;
  margin-bottom: 31px;
}

.footer__line {
  border-top: 1px solid #2E2E2E;
}

@media (max-width: 1600px) {
  .works__box-btn {
    margin-bottom: 0;
  }
  .works__items-box {
    display: block;
    padding-bottom: 20px;
  }
  .works__content {
    margin-top: 30px;
  }
  .works__items-title {
    margin: 30px auto;
  }
  .works__items-text {
    width: 80%;
    margin: 20px auto;
  }
  .material {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .material__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .material__item-img {
    margin-top: 30px;
  }
  .material__item-box {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 1400px) {
  .header {
    background-size: 30%;
  }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__title {
    text-align: center;
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 30px;
  }
  .header__subtitle {
    margin-bottom: 60px;
  }
  .header__btn {
    padding: 15px 30px;
  }
  .header__btn-img {
    margin-left: 0;
    margin-top: 0;
  }
  .header__box-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__btn-text {
    margin-left: 0;
  }
  .header .logo {
    margin-bottom: 50px;
  }
  .header__info {
    padding: 10px;
    margin-top: 100px;
  }
  .header__info-box {
    margin-left: 50px;
  }
  .header__instagram-img {
    margin-right: 30px;
  }
  .header__info-email {
    padding-right: 0;
    margin: 0 20px;
  }
  .benefits__content {
    margin-left: -250px;
  }
  .benefits__content-title {
    font-size: 36px;
    line-height: 42px;
    width: 400px;
    margin-bottom: 20px;
  }
  .benefits__content-subtitle {
    margin-bottom: 20px;
  }
  .benefits__content-text {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .benefits__manager-img {
    margin-left: auto;
  }
}

@media (max-width: 1175px) {
  .title {
    font-size: 36px;
    line-height: 36px;
  }
  .top-slider {
    padding: 60px 20px;
  }
  .top-slider__title {
    margin-bottom: 30px;
  }
  .top-slider__items {
    width: 730px;
    padding-bottom: 30px;
  }
  .top-slider ul.slick-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .top-slider ul.slick-dots li {
    font-size: 0;
    line-height: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  .top-slider ul.slick-dots button {
    border: none;
    background-color: transparent;
  }
  .top-slider ul.slick-dots .slick-active {
    background-color: #fdbb59;
  }
  .works__item-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 800px;
  }
  .works__item {
    margin-bottom: 20px;
  }
  .partners__title {
    margin-bottom: 20px;
    width: 500px;
  }
  .partners__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 1250px) {
  .partners {
    padding-bottom: 50px;
  }
  .sheme__inner {
    background-image: none;
  }
  .sheme__sheme-box {
    width: 100%;
  }
  .sheme__wrapper-first {
    margin-top: 30px;
    margin-left: 0;
  }
  .sheme__wrapper-third {
    margin-top: -50px;
    margin-bottom: 30px;
  }
  .sheme__stage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sheme__box-second {
    margin-left: 0;
    margin-bottom: 30px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .sheme__box-third {
    margin: 0 auto;
  }
  .sheme__block-title {
    margin-left: 0;
  }
  .stage-first {
    padding-bottom: 30px;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__logo img {
    margin: 0 auto;
  }
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contact {
    margin: 0;
    margin-right: 15px;
  }
  .footer__about {
    margin-left: 15px;
  }
  .footer__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__bottom-item {
    margin: 0 10px;
  }
}

@media (max-width: 1050px) {
  .material__title {
    font-size: 30px;
    width: 600px;
  }
  .material__item-img {
    width: 70%;
  }
}

@media (max-width: 930px) {
  .header__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits .button {
    padding: 18px;
    width: 90%;
  }
  .benefits__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .benefits__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 400px;
    margin: 0 auto;
  }
  .benefits__content-title {
    margin-top: 20px;
    margin: 20px auto;
  }
  .benefits__content-text {
    margin-right: 0;
  }
  .sheme__wrapper {
    border: none;
    padding: 10px;
  }
  .sheme__wrapper-first {
    margin-top: 0;
  }
  .sheme__wrapper-third {
    margin-top: -70px;
    margin-bottom: 0;
  }
  .sheme__box {
    padding: 20px 30px;
  }
  .sheme__box-title {
    margin-bottom: 0;
  }
  .sheme__box-second {
    margin-bottom: 0;
  }
  .sheme__block {
    padding: 10px 20px;
    margin: 0 5px;
  }
  .sheme__block-third {
    width: 100%;
  }
  .stage-first {
    padding-bottom: 0;
  }
}

@media (max-width: 780px) {
  .title {
    font-size: 26px;
    line-height: 30px;
  }
  .top-slider__title {
    font-size: 26px;
    line-height: 30px;
  }
  .top-slider__items {
    width: 315px;
  }
  .works__box-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
  .works__item-box {
    width: 300px;
  }
  .works__btn + .works__btn {
    margin-left: 0;
    margin-top: 10px;
  }
  .benefits__manager-btn {
    padding: 15px;
    margin-right: 30px;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__contact {
    margin-left: 15px;
    margin-bottom: 30px;
  }
  .footer__about-title {
    margin-bottom: 20px;
  }
  .footer__contact-item,
  .footer .footer__about-link {
    margin-bottom: 0;
  }
  .footer__contact-title,
  .footer .footer__about-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .title {
    text-align: center;
  }
  .header__title {
    text-align: center;
    width: 310px;
    font-size: 20px;
    line-height: 26px;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 20px;
    width: 310px;
    text-align: center;
  }
  .header__box-btn {
    width: 310px;
    text-align: center;
  }
  .header__btn-text {
    width: 260px;
  }
  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
  }
  .header__line-img {
    display: none;
  }
  .header__info-email {
    margin: 20px 0;
  }
  .header__info-box {
    margin-left: 0;
  }
  .header__instagram-img {
    margin-right: 10px;
  }
  .benefits__content {
    width: 300px;
  }
  .benefits__content-title {
    font-size: 22px;
    text-align: left;
    width: 300px;
  }
  .benefits__content-text {
    width: 300px;
  }
  .benefits__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits__manager-btn {
    margin-right: 0;
  }
  .benefits__manager-img {
    padding-bottom: 0;
  }
  .benefits__manager-text {
    margin-top: 0;
  }
  .benefits__manager-line {
    display: none;
  }
  .material__title {
    text-align: left;
    width: 300px;
  }
  .material__item-text {
    width: 100%;
    margin: 0 auto;
  }
  .partners__title {
    width: 300px;
    text-align: left;
  }
  .footer__bottom {
    display: block;
  }
  .footer__bottom-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 420px) {
  .partners__item svg {
    display: none;
  }
  .sheme__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sheme__block {
    margin-top: 10px;
  }
  .sheme__box {
    width: 80%;
    margin-top: 10px;
  }
  .sheme__box-title {
    font-size: 20px;
  }
  .footer__contact-item,
  .footer .footer__about-link {
    font-size: 20px;
  }
}

@media (max-width: 370px) {
  .title {
    font-size: 20px;
    line-height: 20px;
    max-width: 310px;
  }
  .top-slider {
    padding: 30px 0;
  }
  .top-slider__title {
    font-size: 20px;
    line-height: 20px;
  }
  .top-slider__item {
    padding: 0;
    border: none;
  }
  .top-slider__item-img {
    width: 260px !important;
    margin-left: 20px;
  }
}
